<div class="div-brand">
</div>
<div class="container brand-description">
  <h6>PRINCIPAIS MARCAS</h6>
  <h2>Faça Sua Escolha.</h2>
  <!-- <h3>________</h3> -->
  <div class="brand-itens">
    <div class="row">
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-agusta.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-bmw.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-dafra.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-ducati.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-harleydavidson.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-honda.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-kawasaki.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-ktm.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-suzuki.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-triumph.png" alt="">
      </div>
      <div class="col-xs-3	ol-sm-3 col-md-2 col-lg-2">
        <img class="img-responsive center-block" src="../../../../assets/imgs/logos/logo-yamaha.png" alt="">
      </div>
    </div>
  </div>
</div>
