<div id="myCarousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div id="div-inner" class="item active">
          <img src="../../../../assets/imgs/fhoto6.1.jpg" alt="1">
          <div class="carousel-caption">
            <div class="container alling">
              <div class="container thema">Faça da sua vida uma grande aventura.</div>
              <div class="container my-box">ENCONTRE SUA MOTO</div>
            </div>
          </div>
        </div>
        <div id="div-inner" class="item">
          <img src="../../../../assets/imgs/fhoto4.1.jpg" alt="2">
          <div class="carousel-caption">
            <div class="container alling">
              <div class="container thema">Surpreenda-se com o poder do motor.</div>
              <div class="container my-box">COMPARE AS POTÊNCIAS</div>
            </div>
          </div>
        </div>
        <div id="div-inner" class="item">
          <img src="../../../../assets/imgs/fhoto1.1.jpg" alt="3">
          <div class="carousel-caption">
            <div class="container alling">
              <div class="container thema">Existe um estilo que encaixa com você.</div>
              <div class="container my-box">VÁRIOS ESTILOS</div>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
