<div class="div-description container-fluid">
  <div class="row">
    <div class=" div-info col-xs-12	ol-sm-12 col-md-6 col-lg-6">
      <h2>Você pode fazer uma busca por categorias encontrando a motocicleta
        que mais combina com você.</h2>
      <p>
        Possibilitamos três categorias de busca para você como: marca, cilindrada e estilo. Escolha uma
        categoria e descubra as principais informações de sua motocicleta.
      </p>
    </div>
    <div id="div-option" class="col-xs-12	col-sm-12 col-md-6 col-lg-6">
      <div class="alling-option col-xs-6 col-sm-6	col-md-6 col-lg-6">
        <figure class="image-effect">
          <img class="effect img-responsive" src="../../../../assets/imgs/brand.jpg" alt="">
          <figcaption>
            <h3 ui-sref="brand" >MARCA</h3>
          </figcaption>
        </figure>
      </div>
      <div class="alling-option col-xs-6 col-sm-6	col-md-6 col-lg-6">
        <div class="">
          <figure class="image-effect">
            <img class="effect img-responsive" src="../../../../assets/imgs/cylinder.jpg" alt="">
            <figcaption>
              <h4>CILINDRADA</h4>
            </figcaption>
          </figure>
        </div>
        <div class="">
          <figure class="image-effect">
            <img class="effect img-responsive" src="../../../../assets/imgs/style.jpg" alt="">
            <figcaption>
              <h4>ESTILO</h4>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="div-option" class="col-xs-12	col-sm-12 col-md-6 col-lg-6">
      <figure class="image-effect">
        <img class="effect img-responsive" src="../../../../assets/imgs/comparation.jpg" alt="">
        <figcaption>
          <h4>COMPARATIVO</h4>
        </figcaption>
      </figure>
      </div>
    <div class=" div-info col-xs-12	ol-sm-12 col-md-6 col-lg-6">
      <h2>Compare duas motocicletas por vez obtendo uma análise de fácil entendimento.</h2>
      <p>
        Visualize as características das motocicletas selecionadas e saiba quais características
        são semelhantes e quais diferem.
      </p>
    </div>
  </div>
</div>
