<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with Thiago Luiz</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li>
          <a href="https://www.linkedin.com/in/thiago-luiz-507483112/">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/ThiagoLuizNunes">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/thiagoluizc855">
            <i class="fa fa-behance" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
