<div class="form">
  <div class="box-body">
    <field id="name" label="Nome" grid="12 6 4" placeholder="Informe o Nome"
        model="mtCtrl.motorcycle.name" readonly="mtCtrl.tabDelete"></field>
    <field id="brand" label="Marca" grid="12 6 4" placeholder="Informe a Marca"
        model="mtCtrl.motorcycle.brand" readonly="mtCtrl.tabDelete"></field>
    <field id="category" label="Categoria" grid="12 6 4" placeholder="Informe a Categoria"
        type="number" model="mtCtrl.motorcycle.category" readonly="mtCtrl.tabDelete"></field>
    <field id="style" label="Estilo" grid="12 6 4" placeholder="Informe o Estilo"
        model="mtCtrl.motorcycle.style" readonly="mtCtrl.tabDelete"></field>
    <field id="model" label="Modelo" grid="12 6 4" placeholder="Informe o Modelo"
        model="mtCtrl.motorcycle.model" readonly="mtCtrl.tabDelete"></field>
    <field id="engine" label="Motor" grid="12 6 4" placeholder="Informe o Motor"
        model="mtCtrl.motorcycle.engine" readonly="mtCtrl.tabDelete"></field>
    <field id="cylinder" label="N° de Cilindros" grid="12 6 4" placeholder="Informe nº de Cilindros"
        type="number" model="mtCtrl.motorcycle.cylinder" readonly="mtCtrl.tabDelete"></field>
    <field id="stroke" label="Nº de Tempos" grid="12 6 4" placeholder="Informe º de Tempos"
        model="mtCtrl.motorcycle.stroke" readonly="mtCtrl.tabDelete"></field>
    <field id="cooled" label="Refrigeração" grid="12 6 4" placeholder="Informe a Refrigeração"
        model="mtCtrl.motorcycle.cooled" readonly="mtCtrl.tabDelete"></field>
    <field id="capacity" label="Cilindradas" grid="12 6 4" placeholder="Informe as Cilindradas"
        type="number" model="mtCtrl.motorcycle.capacity" readonly="mtCtrl.tabDelete"></field>
    <field id="maxpower" label="Potência" grid="12 6 4" placeholder="Informe a Potência Maxima"
        model="mtCtrl.motorcycle.maxpower" readonly="mtCtrl.tabDelete"></field>
    <field id="mintorque" label="Torque" grid="12 6 4" placeholder="Informe o Torque"
        model="mtCtrl.motorcycle.mintorque" readonly="mtCtrl.tabDelete"></field>
    <field id="transmission" label="Transmissão" grid="12 6 4" placeholder="Informe nº Transmissão"
        model="mtCtrl.motorcycle.transmission" readonly="mtCtrl.tabDelete"></field>
    <field id="start" label="Partida" grid="12 6 4" placeholder="Informe a Partida"
        model="mtCtrl.motorcycle.start" readonly="mtCtrl.tabDelete"></field>
    <field id="abs" label="Freio Abs" grid="12 6 4" placeholder="Informe o ABS"
        model="mtCtrl.motorcycle.abs" readonly="mtCtrl.tabDelete"></field>
    <field id="front" label="Pneu Dianteiro" grid="12 6 4" placeholder="Informe o Pneu Dianteiro"
        model="mtCtrl.motorcycle.front" readonly="mtCtrl.tabDelete"></field>
    <field id="rear" label="Pneu Traseiro" grid="12 6 4" placeholder="Informe o Pneu Traseiro"
        model="mtCtrl.motorcycle.rear" readonly="mtCtrl.tabDelete"></field>
    <field id="seat" label="Assento" grid="12 6 4" placeholder="Informe o Assento"
        type="number" model="mtCtrl.motorcycle.seat" readonly="mtCtrl.tabDelete"></field>
    <field id="weight" label="Peso" grid="12 6 4" placeholder="Informe o Peso"
        type="number" model="mtCtrl.motorcycle.weight" readonly="mtCtrl.tabDelete"></field>
    <field id="tank" label="Tanque" grid="12 6 4" placeholder="Informe o Tanque"
        type="number" model="mtCtrl.motorcycle.tank" readonly="mtCtrl.tabDelete"></field>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="mtCtrl.create()"
      ng-if="mtCtrl.tabCreate">Incluir</button>
    <button class="btn btn-info" ng-click="mtCtrl.update()"
      ng-if="mtCtrl.tabUpdate">Alterar</button>
    <button class="btn btn-danger" ng-click="mtCtrl.delete()"
      ng-if="mtCtrl.tabDelete">Excluir</button>
    <button class="btn btn-default" ng-click="mtCtrl.refresh()">Cancelar</button>
  </div>
</div>
