<div class="box-body">
  <div class="searchClass" ng-include="'template/admin/motorcycle/search.html'"></div>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Cilindrada</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="motorcycle in mtCtrl.motorcycles">
        <td>{{:: motorcycle.name }}</td>
        <td>{{:: motorcycle.brand }}</td>
        <td>{{:: motorcycle.cylinder }}</td>

        <td class="table-actions">
          <button class="btn btn-warning" ng-click="mtCtrl.showTabUpdate(motorcycle)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" ng-click="mtCtrl.showTabDelete(motorcycle)">
            <i class="fa fa-trash-o"></i></button>
        </td>

      </tr>
    </tbody>
  </table>
  <div ng-if="mtCtrl.pages > 1" class="box-footer clearfix">
    <paginator url="/#!/motorcycle" pages="{{ mtCtrl.pages }}"></paginator>
  </div>
</div>
